.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav img{
    margin-left: 20px;
    width: 80px;
}

.topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav .icon {
    display: none;
}

div.container{
    margin-top: 30px;
}

table{
    width: 100%;
}


a{
    text-decoration: none;
    color: #19A7CE;
    font-weight: bold;
}

p{
    color: gray;
}

.container-usuario{
    width: 100%;
    max-width: 1020px;
    padding: 0 20px;
    margin: 30px auto;
}

.titulo-bloco-conteudo{
    border: 1px solid #000;
    padding: 5px;
    background-color: #9BA894;
}

.bloco-conteudo{
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    padding: 0 5px 0 5px;
    background-color: #DBD7D7;
}

.linha-conteudo{
    margin: 10px 0 10px 0;
}

.linha-conteudo:first-of-type{
    margin: 0 0 10px 0;
}

input[type=text]{
    width: 100%;
    height: 40px;
    color: #333;
    border: 1px solid #000;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 0px 5px 0px 5px;
}

input[type=text]:focus{
    border-color: #146C94;
}

select{
    height: 40px;
    padding: 0 5px 0 5px;
    font-size: 18px;
}


.botao-alterar{
    margin-top: 10px;
    width: 100%;
}

.botao-alterar button{
    width: 220px;
    display: block;
    margin: auto;
    height: 40px;
    color: #FFF;
    background-color: #146C94;
    border: 1px solid #000;
    border-radius: 5px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 40px;
}