.topnav {
    overflow: hidden;
    background-color: #333;
    width: 100%;
}

.topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav .icon {
    display: none;
}

div.container{
    margin-top: 30px;
}

h2{
    width: 90%;
}

.titulo-float{
    float: left;
}

section{
    margin-bottom: 30px;
}

.titulo-bloco-conteudo{
    border: 1px solid #000;
    padding: 5px;
    background-color: #9BA894;
}

.titulo-bloco-conteudo span{
    display: inline-block;
    color: #fff;
    background-color: #146C94;
    padding: 5px;
    border: #000 1px solid;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 50px;
} 

.bloco-conteudo{
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    padding: 0 5px 0 5px;
    background-color: #DBD7D7;
}

.linha-conteudo{
    margin: 10px 0 10px 0;
}

.linha-conteudo-pequena{
    width: 40%;
}

.linha-conteudo-media{
    width: 70%;
}

.duas-colunas{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.tres-colunas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.duas-colunas-profissionais{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.conteudo-centro{
    padding-right: 10px;
}

#autor-pt {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.legenda-inline{
    display: inline-block;
}

input[type=text]{
    width: 80%;
    height: 40px;
    color: #333;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 0 8px;
}

input[type=date]{
    height: 40px;
    color: #333;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 0 8px;
}

textarea {
    width: 80%;
    height: 120px;
    color: #333;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 8px 8px;
    resize: none;
}

.riscos input[type=text], .perigos input[type=text], .equipamentos input[type=text], .medidas-preventivas input[type=text]{
    border-radius: 0px;
    outline: 0;
    border-width: 0 0 2px;
    border-color: #000;
    background-color: #DBD7D7;
    height: 30px;
    width: 50%;
}

.riscos input[type=text]:focus, .perigos input[type=text]:focus, .equipamentos input[type=text]:focus, .medidas-preventivas input[type=text]:focus {
    border-color: #146C94;
    outline: 1px dotted #000
}


#acrescenta-funcionario{
    width: 320px;
    margin-bottom: 5px;
}

.botao-emissao, .botao-cancelar{
    width: 100%;
}

.botao-emissao button{
    width: 320px;
    display: block;
    margin: auto;
    height: 40px;
    color: #FFF;
    background-color: #146C94;
    border: 1px solid #000;
    border-radius: 5px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 40px;
}

.botao-cancelar button{
    width: 320px;
    display: block;
    margin: auto;
    height: 40px;
    color: #FFF;
    background-color: #942332;
    border: 1px solid #000;
    border-radius: 5px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 40px;
}

/* Estilizaçao específica da página de exibição da PT */

.status{
    color: #19A7CE;
    font-weight: bold;
}


.tres-colunas-profissionais{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.quatro-colunas-profissionais{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.tabela-profissionais{
    width: 100%;
    text-align: left;
}

.linha-conteudo p{
    padding-right: 5px;
}

#de-acordo{
    text-align: center;
    margin-bottom: 10px;
}

#texto-cancelar{
    width: 100%;
    margin-bottom: 10px;
}

