@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Roboto+Slab:wght@400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto slab', serif;
    font: 400 14px ;
    background-color: #F6F1F1;
}

h1{
    margin-bottom: 30px;
}

.container{
    width: 100%;
    max-width: 1280px;
    padding: 0 20px;
    margin: 30px auto;
}

input, button, textarea {
    font-family: 'Roboto slab', serif;
    font-size: 18px ;
}

button{
    cursor: pointer;
}