html, body{
    height: 100%;
}

.duas-colunas-lista{
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100%;
}


.container{
    margin: 30px 0px;
}

h1{
    margin-bottom: 30px;
}

form{
    padding-top: 10px;
}

h3{
    color: white;
}

aside{
    background-color: #146C94;
    height: 100%;
}

aside input, aside select{
    width: 70%;
    height: 30px;
    color: #333;
    border: 1px solid #000;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 0px 5px 0px 5px;
}

button{
    padding: 5px;
}

table{
    width: 100%;
    text-align: center;
}

thead{
    background-color: #146C94;
    color: white;
}

table, th, td {
    border: 1px dotted #146C94;
    border-collapse: collapse;
  }

.celula_visualizar{
    background-color: #F6F1F1;
    border: none;
}

#tabela_wrapper .dataTables_info {
    display: block;
    padding-top: 0;
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
    color: #555;
    float: none;
}
  