<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/usuarios/styles.css">

    <title>Usuários</title>
</head>
<body>

    <div class="container">
        
        <h1>Usuários cadastrados no sistema</h1>

        <table>
            <tr>
                <th><h2>Matrícula</h2></th>
                <th><h2>Nome</h2></th>
                <th><h2>Função</h2></th>
                <th><h2>Empresa</h2></th>
                <th><h2>Perfil</h2></th>
            </tr>

            <tr>
                <th><p>2022123456</p></th>
                <th><p>Fulano da Silva</p></th>
                <th><p>Encarregado</p></th>
                <th><p>XYZ Ltda.</p></th>
                <th><p>Encarregado</p></th>
                <th><a href="">Visualizar</a></th>
                <th><a href="">Excluir</a></th>
            </tr>

            <tr>
                <th><p>2022123456</p></th>
                <th><p>Fulano da Silva</p></th>
                <th><p>Encarregado</p></th>
                <th><p>XYZ Ltda.</p></th>
                <th><p>Encarregado</p></th>
                <th><a href="">Visualizar</a></th>
                <th><a href="">Excluir</a></th>
            </tr>

            <tr>
                <th><p>2022123456</p></th>
                <th><p>Fulano da Silva</p></th>
                <th><p>Encarregado</p></th>
                <th><p>XYZ Ltda.</p></th>
                <th><p>Encarregado</p></th>
                <th><a href="">Visualizar</a></th>
                <th><a href="">Excluir</a></th>
            </tr>

            
        </table>

    </div>
    
</body>
</html>