<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Lista de Permissões de Trabalho</title>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/listas/styles.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.3/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.3/datatables.min.js"></script>

</head>
<body>

    <div class="duas-colunas-lista">

    
        <aside class="container">

            <form action="" method="post">

                <h3>Número da PT</h3>
                <input type="text" name="numero_pt" />

                <h3>Status da PT</h3>
                <select name="status_pt">
                    <option>------</option>
                    <option value="Emitida">Emitida</option>
                    <option value="Parcialmente Aprovada">Parcialmente Aprovada</option>
                    <option value="Aprovada">Aprovada</option>
                    <option value="Encerrada">Encerrada</option>
                    <option value="Cancelada">Cancelada</option>
                </select>

                <h3>Data de emissão da PT</h3>
                <input type="date" name="data_emissao" />

                <h3>Número da OS</h3>
                <input type="text" name="ordem_servico" />

                <h3>Emissor da OS</h3>
                <input type="text" name="emissor" placeholder="Matrícula do emissor"/>

                <div class="botao">
                    <button type="submit">Buscar</button>
                </div>
                

            </form>

            
            

        </aside>
        <div class="container">

            <h1>Permissões de trabalho emitidas </h1>
            
            <table id="tabela">
                <thead>
                    <tr>
                        <th>PT</th>
                        <th>Status</th>
                        <th>Número da OS</th>
                        <th>Descrição do Serviço</th>
                        <th>Visualizar detalhes</th>
                    </tr>
                </thead>

                <tbody>

                    <% for(let i = 0; i < listaDePTs.length; i++) {%>
                    <tr>
                        <td><%= listaDePTs[i].codigo_pt %></td>
                        <td style="text-transform: capitalize;"><%= listaDePTs[i].status_pt %></td>
                        <td><%= listaDePTs[i].ordem_servico %></td>
                        <td><%= listaDePTs[i].descricao %></td>
                        <td class="celula-visualizar"><a href="">Visualizar</a></td>
                    </tr>
                    <% } %>
                    
                </tbody>
            </table>
            
            

        </div>
    </div>


    <script src="/js/listas/scripts.js"></script>
    
</body>
</html>