<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Nova Permissão de Trabalho</title>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/listaPT/styles.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
</head>
<body>

    <div class="container">

        <h1>Permissões de trabalho emitidas </h1>
        
        <ul>
            <li>

                <h2>Número da PT</h2>
                <p>0001</p>
                <p>Status: <span class='status'>Parcialmente aprovada</span></p>

                <h2>Descrição do Serviço</h2>
                <p>Substituir lâmpada no poste de entrada</p>
                
                <h2>Ordem de serviço</h2>
                <p>123456</p>

                <a href='/exibir-pt'>Visualizar</a>
            </li>

        </ul>

    </div>

    
</body>
</html>