<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/login/styles.css">
    <title>Login</title>
</head>
<body>
    <div class="logon-container">
            
        <section class="form">
            <div>ADICIONAR LOGO</div>

            <form method="POST" action="/">
                <h1>Matrícula</h1>
                <input type='text' name="matricula" placeholder="Insira sua matrícula" required/>
                <h1>Senha</h1>
                <input type="password" name="senha" placeholder="Insira sua senha" required/>
                <% if(erro){ %>
                    <p style="color: red"><%= erro.error %></p>
                <%}%>
                <button type="submit">Entrar</button>
            </form>
        </section>

    </div>
</body>
<script src="/js/login/scripts.js"></script>
</html>