<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/usuarios/styles.css">
    <title>Cadastrar Novo Usuário</title>
</head>
<body>

    <div class="topnav">

        <span><img src="/image/logo_pt_eletronica.png" alt=""></span>

        <a href="http://192.168.0.116:3000/">Log Out</a>
    
        <a href="http://192.168.0.116:3000/lista-usuarios">Página incial</a>

    </div>

    <div class="container-usuario">

        <h1>Cadastrar Novo Usuário</h1>

        <form action="" method="post">

            <div class="titulo-bloco-conteudo">
                <h2>Dados do funcionário</h2>
            </div>

            <div class="bloco-conteudo">
                <div class="linha-conteudo">
                    <h3>Matrícula: </h3>
                    <input type="text" name="matricula" placeholder='Matrícula do profissional' required></input> 
                </div>
    
                <div class="linha-conteudo">
                    <h3>Nome: </h3>
                    <input  type="text" name="nome" placeholder='Nome do profissional' required></input> 
                </div>
    
                <div class="linha-conteudo">
                    <h3>Função: </h3>
                    <input  type="text" name="funcao" placeholder='Função do profissional' required></input> 
                </div>
    
                <div class="linha-conteudo">
                    <h3>Empresa: </h3>
                    <input  type="text" name="empresa" placeholder='Empresa contratante' required></input> 
                </div>
    
                <div class="linha-conteudo">
                    <h3>Perfil: </h3>
                    <select name="perfil" required>
                        <option>--- Escolha perfil do profissional ---</option>
                        <option value="adm">Administrador de sistema</option>
                        <option value="encarregado-manutencao">Encarregado de manutenção</option>
                        <option value="fiscal">Fiscal de contrato</option>
                        <option value="seguranca-trabalho">Profissional de segurança no trabalho</option>
                        <option value="tecnico-manutencao">Técnico de manutenção</option>
                    </select> 
                </div>

                <div class="linha-conteudo">
                    <h3>Usuário ativo no  sistema:</h3>
                    <label>
                        <input type="radio" name="ativo" value="true" checked>
                        Ativo
                    </label>
                    <label>
                        <input type="radio" name="ativo" value="false">
                        Inativo
                    </label>

                </div>
            </div>


            
            <div class="botao-alterar">
                <button type="submit">Salvar Usuário</button>
            </div>


        </form>

    </div>

    
</body>
</html>